//Base
@import './components/base/fonts';

// Components
@import './components/navigation/main-navigation';

// Home Page
@import './components/intro-section';
@import './components/home-hero';
@import './components/feature-section';

//footer
@import './components/footer/main-footer';

.lt-ie10{
@include foundation-grid;
}

//buttoms on home page
.primary-btn, .secondary-btn {
 border: 1px solid $black;
 padding: rem-calc(10) rem-calc(20);
 border-radius: 100px;
 cursor: pointer;
}
.primary-btn:hover {
  background: $brand_color;
  color: $white;
  border: 1px solid $brand_color;
}

.secondary-btn {
  border: 1px solid $white;
  color: $white;
}

.secondary-btn:hover {
  background: $white;
  color: #cc0000;
}
