<div class="footer-wrapper">
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell large-3">
        <div class="footer-logo">
          <img src="./assets/img/test-logo-white.svg" alt="">
        </div>
      </div>
      <div class="cell large-3 footer-contact">
        <p>Get in touch</p>
      </div>
      <div class="cell large-3 footer-menu">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About RIAHC</a></li>
          <li><a href="#">Our people</a></li>
          <li><a href="#">Investments</a></li>
          <li><a href="#">News/media</a></li>
        </ul>
      </div>
      <div class="cell large-3 footer-social">
        <p>Follow us</p>
        <ul class="menu">
          <li><a href="#"><img src="./assets/img/social/facebook.svg" alt=""></a></li>
          <li><a href="#"><img src="./assets/img/social/twitter.svg" alt=""></a></li>
          <li><a href="#"><img src="./assets/img/social/linkedin.svg" alt=""></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="footer-copyright-wrapper">
  <div class="grid-container">
    <div class="grix-x">
      <div class="cell large-12">
        <p>&copy; 2017 Rongowhakaata Iwi Asset Holding Company. All rights reserved.</p>
      </div>
    </div>
  </div>
</div>
