<div class="footer-wrapper">
  <div class="grid-container">

    <div class="grid-x">
      <div class="cell large-12">
        <div class="footer-logo">
          <a href="index.html"><img src="assets/img/RIAHC_logo_reverse.svg" alt=""></a>
        </div>
      </div>
    </div>

    <div class="grid-x">
      <div class="cell large-12">
        <ul class="footer-menu text-center">
          <li><a href="index.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="investment_portfolio.html">Investment</a></li>
          <li><a href="private_equity_strategy.html">Private Equity</a></li>
          <li><a href="rangatahi_intern_programme.html">Rangatahi Intern</a></li>
          <li><a href="resources.html">Resources</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </div>
    </div>

    <div class="grid-x">
      <div class="cell text-center rongowhakaata-link">
        <a href="https://rongowhakaata.iwi.nz">Rongowhakaata Iwi Trust</a>
      </div>
    </div>

    <div class="grid-x">
      <div class="cell large-8 large-offset-2 small-8 small-offset-2">
        <div class="cell large-12 footer-copyright text-center">
          <p>&copy; 2018 RIAHC. All rights reserved.</p>
        </div>
      </div>
    </div>

  </div>
</div>
