.about-wrapper {
  margin-top: rem-calc(30);

  .director-profiles {
    margin: rem-calc(30) 0 rem-calc(60);
    .profile-img {
      overflow: hidden;
      position: relative;
      img {
        width:100%;
      }
    }
    .image-solid-bar {
      position: absolute;
      bottom: 0;
      height: rem-calc(8);
      width: 100%;
      background: $gradient;
      z-index: 10;
    }
    .profile {
      margin-bottom: rem-calc(30);
      h6 {
        margin: rem-calc(10) 0 0 0;
        span {
          font-family: $medium;
          text-transform: uppercase;
        }
      }
      .read-profile {
        margin: 0;
        color: inherit;
        font-style: italic;
      }
    }
  }

}

// Profiles - biography
.biography {
  padding-left: rem-calc(30);
}
