.about-wrapper {
  margin-top: rem-calc(30);

  .director-profiles {
    margin: rem-calc(30) 0 rem-calc(60);
    .profile-img {
      overflow: hidden;
      position: relative;
      img {
        width:100%;
      }
    }
    .image-solid-bar {
      position: absolute;
      bottom: 0;
      height: rem-calc(8);
      width: 100%;
      background: $gradient;
      z-index: 10;
    }
    .profile {
      h6 {
        margin-top: rem-calc(10);
        span {
          font-family: $medium;
          text-transform: uppercase;
        }
      }
    }
  }

}

// Profiles - biography
.biography {
  padding-left: rem-calc(30);
}
