.business-links-wrapper {
  .business-links {
    margin: rem-calc(40) 0;
    padding: rem-calc(20) 0;
    border-top: 3px solid $black;
    border-bottom: 1px solid $black;
  }
  .link-logo {
    display: flex;
    align-items: center;
    padding: rem-calc(5);
  }
}
