.contact {
  .content-wrapper {
    background: #e0e0e0;
    padding: rem-calc(60);
  }
  min-height: 80vh;
  margin: rem-calc(60) 0;
}
.contact-us-form {
  input {
    border-radius: $border-radius;
  }
  .primary-btn {
    width: rem-calc(110);
    border-radius: rem-calc(50);
  }
}
