.hero-wrapper {
  background: url(../../assets/img/hero-temp3.jpg) no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 80vh;

  .main-hero {
    margin-top: 25vh;
    text-align: center;
    h2 {
      font-family: $bold;
      color: $white;
      font-weight: 700;
      line-height: 2.8rem;
    }
    h4 {
      color: $white;
      font-weight: bold;
    }
  }
}
