.hero-wrapper {
  background: url(../../assets/img/hero-test.jpg) no-repeat center center;
  background-size: cover;
  width: 100%;

  .main-hero {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    justify-content: center;
    text-align: center;
    h2 {
      font-family: $heading;
      color: $white;
      font-weight: 700;
      line-height: 2.8rem;
    }
    h4 {
      color: $white;
      font-weight: bold;
    }
  }
}
