// Rangatahi Intern Programme
.intern {
  margin: rem-calc(30) 0;
}

.intern-apply-form  {
  margin: rem-calc(30) 0;
}

// intern application form
.intern-apply-form {
  margin: rem-calc(30) 0;
  .content-wrapper {
    h5 {
      margin-bottom: rem-calc(60);
    }
  }
  .submit-btn {
    margin: rem-calc(30) 0;
  }
}
