.intro-section {
  margin-top: rem-calc(30);

  .welcome-message {
    // width: 100%;
    padding: rem-calc(30) 0;
    h3, p {
      font-family: $medium;
      text-align: center;
    }
    p {
      font-size: rem-calc(20);
      color: darken($dark-gray, 20);
    }
  }

  .intro-box {
    margin-bottom: rem-calc(30);
    .intro-box-img {
      height: rem-calc(220);
      overflow: hidden;
      img {
        width: 100%;
        height: rem-calc(220);
      }
    }
    .intro-box-text {
      padding: rem-calc(20);
      h4, p {
        color: $white;
      }
    }
  }

  .investment {
    background: #7b2452;
    .secondary-btn:hover {
      color: #7b2452;
    }
  }
  .about-us {
    background: #C3463C;
    .secondary-btn:hover {
      color: #C3463C;
    }
  }
  .private-equity {
    background: $brand_color;
    .secondary-btn:hover {
      color: $brand_color;
    }
  }
}

@media screen and (min-width: rem-calc(600)) {
  .intro-section {
    .intro-box {
      margin-bottom: rem-calc(10);
    }
  }
}
