.intro-section {
  margin-top: rem-calc(30);
  // background: #F2F5FA;
  .intro-box {
    height: rem-calc(300);
  }
  .investment {
    background: green;
  }
  .about-us {
    background: yellow;
  }
  .private-equity {
    background: blue;
  }
}
