
.news-section {
  margin-bottom: rem-calc(60);
  h3 {
    margin-top: rem-calc(15);
  }
  h3:hover {
    color: #3f3f3f;
  }
}

.news-section-heading {
  margin-bottom: rem-calc(30);
}

.news-item {
  padding-left: rem-calc(20);
  border-left: rem-calc(4) solid $brand_color;
}
.news-item:hover {
  background: #f1f1f1;
}

.image-fade:hover {
    opacity: 0.9;
}

.news-highlight-image {
  overflow: hidden;
  position: relative;
  height: rem-calc(260);
  img {
    max-width: none !important;
    overflow: hidden;
    height: 100%;
  }
  .image-solid-bar {
    position: absolute;
    bottom: 0;
    height: rem-calc(8);
    width: 100%;
    background: $gradient;
    z-index: 10;
  }
}

.view-all {
  a {
    color: $brand_color;
  }
}

@media screen and (min-width: 40em) {
  .feature-light-article {
    padding-right: rem-calc(30)
  }
  .news-section {
    h3 {
      margin-top: rem-calc(0);
    }
  }
}
