.news-section-wrapper {
  background: #f6f6f6;
  padding: rem-calc(20) 0;
}
.news-section {
  margin-bottom: rem-calc(30);
  h3 {
    margin-top: rem-calc(15);
  }
  h3:hover {
    color: #3f3f3f;
  }
}

.news-section-heading {
  margin-bottom: rem-calc(30);
}

.feature-article {
  margin-bottom: rem-calc(30);
}

.news-item {
  padding-left: rem-calc(20);
  border-left: rem-calc(4) solid $brand_color;
}
.news-item:hover {
  background: #e9e9e9;
}

.image-fade:hover {
    opacity: 0.9;
}

.news-highlight-image {
  overflow: hidden;
  position: relative;
  height: rem-calc(260);
  img {
    max-width: none !important;
    overflow: hidden;
    height: 100%;
  }
  .image-solid-bar {
    position: absolute;
    bottom: 0;
    height: rem-calc(8);
    width: 100%;
    background: $gradient;
    z-index: 10;
  }
}

.view-all {
  a {
    color: $brand_color;
  }
}

@media screen and (min-width: 40em) {
  .feature-article {
    padding-right: rem-calc(30);
    margin-bottom: rem-calc(0);
  }
  .news-section {
    h3 {
      margin-top: rem-calc(0);
    }
  }
}

// All news page
//--------------

.news-wrapper {
  margin-top: rem-calc(30);
  h1 {
    margin-bottom: rem-calc(20);
  }

  .pagination-footer {
    margin-bottom: rem-calc(30);
  }
  .pagination .current {
    background: $brand_color;
  }
}

// Single news privew (thumb)
//-----------------

.news-thumb-image {
  overflow: hidden;
  position: relative;
  img {
    width:100%;
  }
}
.image-solid-bar {
  position: absolute;
  bottom: 0;
  height: rem-calc(8);
  width: 100%;
  background: $gradient;
  z-index: 10;
}

.post-date {
  font-size: rem-calc(14);
  color: darken($dark-gray, 20);
  margin: rem-calc(5) 0 rem-calc(0);
  font-style: italic;
}

.news-article-preview-title {
  margin-bottom: rem-calc(30);
}
