.navbar {
  background: #223b53;

  .nav-logo {
    text-align: center;
  }

  ul{
    margin-left: 0;
    padding: rem-calc(30);
    li {
      list-style: none;
      text-align: center;
    }
    a {
      color: #fff;
      font-size: rem-calc(30);
    }
  }

}
