
.navbar {
  .navbar-wrapper {
    display: flex;
    flex-direction: column;
    .active {
      padding-right: 0px;
    }
  }

  .logo-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .nav-logo {
      padding: rem-calc(15);
      width: rem-calc(200);
    }
    .toggle-nav {
      position: relative;
      margin-right: rem-calc(15);
      z-index: 10;
      width: rem-calc(90);
      height: rem-calc(40);
      overflow: hidden;
      span {
        position: absolute;
        width: rem-calc(210);
        line-height: rem-calc(40);
        a {
          color: $black;
          font-size: rem-calc(22);
          font-family: $bold;
        }
      }
    }
  }

  ul{
    margin-left: 0;
    padding: rem-calc(30);
    z-index: 100;
    li {
      list-style-type: none;
      text-align: center;
    }
    a {
      color: #fff;
      font-size: rem-calc(30);
    }
  }
  .active {
    display: none;
  }

}
/* Medium and up */
@media screen and (min-width: rem-calc(850)) {
  .navbar {
    display: flex;
    justify-content: center;

    .toggle-nav {
      display: none;
    }

    .navbar-wrapper {
      flex-direction: row;
      justify-content: space-between;
      width: $grid-container;
    }

    ul{
      margin-bottom: 0;
      li {
        list-style-type: none;
        text-align: center;
        display: inline-block;
        padding-left: rem-calc(30);
      }
      a {
        color: $black;
        font-size: rem-calc(16);
        // font-family: $condense;
        font-family: $bold;
        font-weight: 700;
        // text-transform: uppercase;
      }
    }
    .active {
      display: inline;
    }

  }
}

// overlay menu
  .overlay-nav {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(161, 40, 46, 0.75);
    opacity: 0.5;
    top: 0;
    left: 0;
    opacity: 0;
    .overlay-nav-menu {
      display: flex;
      flex-direction: column;
      margin-top: rem-calc(100);
      li {
        list-style-type: none;
        text-align: center;
      }
      a {
        text-decoration: none;
        color: $white;
        font-family: $bold;
        font-size: rem-calc(40);
      }
    }
  }
