
.navbar {
  // background: $white;
  .navbar-wrapper {
    display: flex;
    flex-direction: column;
    .active {
      padding-right: 0px;
    }
  }

  .logo-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .nav-logo {
      padding: rem-calc(15);
      width: rem-calc(200);
      z-index: 200;
    }
  }

  ul{
    margin-left: 0;
    padding: rem-calc(30);
    z-index: 100;
    li {
      list-style-type: none;
      text-align: center;
    }
  }
  .active {
    display: none;
  }

}
/* Medium and up */
@media screen and (min-width: rem-calc(950)) {
  .navbar {
    display: flex;
    justify-content: center;

    .toggle-nav {
      display: none;
    }

    .navbar-wrapper {
      flex-direction: row;
      justify-content: space-between;
      width: $grid-container;
    }

    ul{
      margin-bottom: 0;
      li {
        list-style-type: none;
        text-align: center;
        display: inline-block;
        padding-left: rem-calc(30);
      }
      a {
        color: $black;
        font-size: rem-calc(16);
        font-family: $bold;
        font-weight: 700;
      }
    }
    .active {
      display: inline;
    }

  }
}

// button animation
  .portfolio-btn-underline {
    height: rem-calc(3);
    transform: scaleX(0);
    background: $brand_color;
  }
