<header>
  <nav class="navbar">
    <div class="navbar-wrapper">
      <div class="logo-wrapper">
        <div class="nav-logo">
          <a href="/index.html"><img src="../assets/img/RIAHC_logo.svg" alt="RIACH logo"></a>
        </div>
        <div class="toggle-nav">
          <span class="toggle-slide"><a href="#">&#9776; MENU &nbsp; CLOSE</a></span>
        </div>

      </div>
      <ul class="active">
        <li>
          <a class="portfolio-btn" href="/about.html">About us</a>
          <div class="portfolio-btn-underline"></div>
        </li>
        <li>
          <a class="portfolio-btn" href="/investment_portfolio.html">Investment Portfolio</a>
          <div class="portfolio-btn-underline"></div>
        </li>
        <li>
          <a class="portfolio-btn" href="/private_equity_strategy.html">Private Equity Strategy</a>
          <div class="portfolio-btn-underline"></div>
        </li>
        <li>
          <a class="portfolio-btn" href="">Rangatahi Intern Programme</a>
          <div class="portfolio-btn-underline"></div>
        </li>
        <li>
          <a class="portfolio-btn" href="">Contact</a>
          <div class="portfolio-btn-underline"></div>
        </li>
      </ul>
    </div>
  </nav>

  <!-- <div class="overlay-nav">
    <ul class="overlay-nav-menu">
      <li><a href="/about.html">About us</a></li>
      <li><a href="/investment_portfolio.html">Investment Portfolio</a></li>
      <li><a href="/private_equity_strategy.html">Private Equity Strategy</a></li>
      <li><a href="">Rangatahi Intern Programme</a></li>
      <li><a href="">Contact</a></li>
    </ul>
  </div> -->

</header>
