<header>
  <nav class="navbar">
    <div class="navbar-wrapper">
      <div class="logo-wrapper">
        <div class="nav-logo">
          <img src="../assets/img/test-logo-black1.png" alt="">
        </div>
        <a class="toggle-nav" href="#">&#9776;</a>
      </div>
      <ul class="active">
        <li><a href="">Home</a></li>
        <li><a href="">About</a></li>
        <li><a href="">Our People</a></li>
        <li><a href="">Investments</a></li>
        <li><a href="">Media/News</a></li>
        <li><a href="">Contact</a></li>
      </ul>
    </div>
  </nav>

  <!-- <div class="overlay-nav">
    <div class="nav-logo">
      <img src="../assets/img/test-logo-white.svg" alt="">
    </div>
    <a class="toggle-close" href="#">CLOSE</a>
    <ul class="active">
      <li><a href="">Home</a></li>
      <li><a href="">About</a></li>
      <li><a href="">Our People</a></li>
      <li><a href="">Investments</a></li>
      <li><a href="">Media/News</a></li>
      <li><a href="">Contact</a></li>
    </ul>
  </div> -->

</header>
