<div class="grid-container">
  <div class="grid-x article-section">
    <div class="cell large-3 article-content">
      <p>STRATEGY AND OPPORTUNITY</p>
      <h1>Diversified portfolio</h1>
      <p>Our strategy has been to re-balance our successful investments in commercial and residential property with direct investments, shares, fixed interest and ventures in primary industries.</p>
      <p class="read-more">
        read more >
      </p>
    </div>
    <div class="cell large-9 article-image">
      <img src="assets/img/rongo_test_tepapa02.jpg" alt="">
    </div>
  </div>
</div>
