<div class="business-links-wrapper">
  <div class="grid-container">
    <div class="grid-x grid-margin-x business-links">

      <div class="cell large-2 link-logo">
        <a href=""><img src="../assets/img/logo/CI.png" alt="Callaghan Innovation Logo"></a>
      </div>
      <div class="cell large-2 link-logo">
        <a href=""><img src="../assets/img/logo/MBIE.png" alt="Ministry of Business and Innovation logo"></a>
      </div>
      <div class="cell large-2 link-logo">
        <a href=""><img src="../assets/img/logo/te_puni_kokiri.png" alt="Te Puni Kokiri logo"></a>
      </div>
      <div class="cell large-2 link-logo">
        <a href=""><img src="../assets/img/logo/RD.jpg" alt="Regional development"></a>
      </div>
      <div class="cell large-2 link-logo">
        <a href=""><img src="../assets/img/logo/GDC.svg" alt="Gisborne District logo"></a>
      </div>
      <div class="cell large-2 link-logo">
        <a href=""><img src="../assets/img/logo/NZTE.jpg" alt="New Trade and Enterprise logo"></a>
      </div>
    </div>

  </div>
</div>
