<div class="feature-secondary-wrapper">
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell large-6 feature-content">
        <h1>Meet the team</h1>
        <h3>For this generation and the next&mdash;Moo teenei Raa Ake Nei</h3>
        <p>As kaitiaki (guardians) of the Waikato-Tainui commercial interests, we focus on growing puutea, tuuranga mahi and whenua - profit, jobs and land - for the people of Waikato-Tainui and our region, for generations to come.</p>
      </div>
    </div>
  </div>
</div>
