<div class="grid-wrapper feature-section collapse">
  <div class="grid-x collapse">
    <div class="column large-4 box-small collapse">
      <h6>STRATEGY AND OPPORTUNITY</h6>
      <p>At TGH we are currently working towards a diversified portfolio – so all our eggs aren’t in one basket.</p>
      <button class="feature-btn">Read more</button>
    </div>
    <div class="column large-8 box-large">
      <h6>PARTNERS FOR PROSPERITY</h6>
      <p>We believe strong partnerships are key to achieving results for over 67,000 Waikato-Tainui tribal members – creating prosperity, while also supporting social and cultural outcomes.</p>
      <button class="feature-btn">Read more</button>
      </div>
  </div>
</div>
