<section class="intro-section">
  <!-- <div class="grid-container"> -->
    <div class="grid-x">
      <div class="cell large-6">
        <div class="intro-image">
            <img src="../assets/img/rongo_test_tepapa.jpg" alt="">
        </div>
      </div>
      <div class="cell large-6 article-item">
        <p>PARTNERS FOR PROSPERITY</p>
        <h2>For this generation and the next - Moo Teenei Raa Haaere Ake Nei</h2>
        <p>
          As kaitiaki (guardians) of the Waikato-Tainui commercial interests, we focus on growing puutea, tuuranga mahi and whenua - profit, jobs and land - for the people of Waikato-Tainui and our region, for generations to come.
        </p>
        <button class="primary-btn">Read more</button>
      </div>
    </div>
  <!-- </div> -->
</section>
