<section class="intro-section">
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <div class="cell large-10 large-offset-1 welcome-message">
        <h3>Welcome to Rongowhakaata Iwi Asset Holding company</h3>
        <div class="horizontal-bar"></div>
        <p>RIAHC is a wholly-owned subsidiary of the Rongowhakaata Iwi Trust.</p>
      </div>
      <div class="cell large-4 investment intro-box">
        <div class="intro-box-img">
          <a href="./article_item.html"><img class="image-fade" src="../assets/img/gallery_images/portfolio-temp2.jpg" alt=""></a>
        </div>
        <div class="intro-box-text">
          <h4>Investment Portfolio</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste illo, in debitis inventore eum, quod porro aut. Fugiat doloremque labore, possimus.</p>
          <button class="secondary-btn">Learn more</button>
        </div>
      </div>

      <div class="cell large-4 about-us intro-box">
        <div class="intro-box-img">
          <a href="./article_item.html"><img class="image-fade" src="../assets/img/gallery_images/about-temp.jpg" alt=""></a>
        </div>
        <div class="intro-box-text">
          <h4>About us</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste illo, in debitis inventore eum, quod porro aut. Fugiat doloremque labore, possimus.</p>
          <button class="secondary-btn">Learn more</button>
        </div>
      </div>

      <div class="cell large-4 private-equity intro-box">
        <div class="intro-box-img">
          <a href="./article_item.html"><img class="image-fade" src="../assets/img/gallery_images/portfolio-temp.jpg" alt=""></a>
        </div>
        <div class="intro-box-text">
          <h4>Private Equity Strategy</h4>
          <p>RIAHC is a wholly-owned subsidiary of the Rongowhakaata Iwi Trust. The core purpose of the Asset Holding company is to manage the assets of the Rongowhakaata group.</p>
          <button class="secondary-btn">Learn more</button>
        </div>
      </div>

    </div>
  </div>
</section>
