<section class="intro-section">
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <div class="cell large-10 large-offset-1 welcome-message">
        <h3>Welcome to Rongowhakaata Iwi Asset Holding company</h3>
        <div class="horizontal-bar-center"></div>
        <p>RIAHC is a wholly-owned subsidiary of the Rongowhakaata Iwi Trust.</p>
      </div>

      <div class="cell large-4  medium-4 about-us intro-box">
        <div class="intro-box-img">
          <a href="about.html"><img class="image-fade" src="assets/img/gallery_images/about-temp.jpg" alt=""></a>
        </div>
        <div class="intro-box-text">
          <h4>About us</h4>
          <p>RIAHC was established to receive and manage assets on behalf of Rongowhakaata Iwi Trust.</p>
          <a href="about.html"><button class="secondary-btn">Learn more</button></a>
        </div>
      </div>

      <div class="cell large-4 medium-4 investment intro-box">
        <div class="intro-box-img">
          <a href="investment_portfolio.html"><img class="image-fade" src="assets/img/gallery_images/portfolio-temp2.jpg" alt=""></a>
        </div>
        <div class="intro-box-text">
          <h4>Investment Portfolio</h4>
          <p>The core purpose of the Asset Holding company is to manage the assets of the Rongowhakaata group.</p>
          <a href="investment_portfolio.html"><button class="secondary-btn">Learn more</button></a>
        </div>
      </div>

      <div class="cell large-4 medium-4 private-equity intro-box">
        <div class="intro-box-img">
          <a href="private_equity_strategy.html"><img class="image-fade" src="assets/img/gallery_images/portfolio-temp.jpg" alt=""></a>
        </div>
        <div class="intro-box-text">
          <h4>Private Equity Strategy</h4>
          <p>As part of our wider investment strategy the Investment Company is actively seeking private equity investment opportunities.</p>
          <a href="private_equity_strategy.html"><button class="secondary-btn">Learn more</button></a>
        </div>
      </div>

    </div>
  </div>
</section>
