<div class="grid-container news-section">
  <div class="horizontal-ruler" style="height: 3px"></div>
  <div class="grid-x grid-margin-x">
    <div class="cell larger-12">
      <h2>Te Awe's latest news, articles and publications.</h2>
      <div class="horizontal-ruler-thin"></div>
    </div>

    <div class="large-8 cell feature-light-article">
      <div class="grid-x grid-margin-x">
          <div class="large-6 medium-6 cell">
            <div class="news-highlight-image">
              <a href="./article_item.html"><img class="image-fade" src="../assets/img/gallery_images/600x400_01.jpg" alt=""></a>
              <div id="image-blue-bar"></div>
            </div>
          </div>
          <div class="large-6 medium-6 cell">
            <div>
              <a href="./article_item.html"><h3>Te Awe Post Budget Breakfast 2016</h3></a>
              <p class="post-date"><strong>Posted on 20 May 2016</strong></p>
              <p>Te Awe, in conjunction with the Hon Bill English, Minister of Finance and Mr Kevin Lavery, Chief Executive Wellington City Council.</p>
            </div>
          </div>
      </div>
      <hr>
      <div class="grid-x grid-margin-x">
        <div class="large-6 medium-6 cell">
          <div class="news-highlight-image">
            <a href="./article_item.html"><img class="image-fade" src="../assets/img/gallery_images/600x400_02.jpg" alt=""></a>
            <div id="image-blue-bar"></div>
          </div>
        </div>
        <div class="large-6 medium-6 cell">
          <div>
            <a href="./article_item.html"><h3>Te Awe Post Budget Breakfast 2016</h3></a>
            <p class="post-date"><strong>Posted on 20 May 2016</strong></p>
            <p>Te Awe, in conjunction with the Hon Bill English, Minister of Finance and Mr Kevin Lavery, Chief Executive Wellington City Council.</p>
          </div>
        </div>
      </div>
    </div>

    <!-- rest of news / side section-->

    <div class="large-4 cell news-section-side">
      <aside>
        <div>
          <div class="news-item">
            <a href="./article_item.html"><h5>Te Awe and Pasifika Business Network Showcase</h5></a>
            <p class="post-date"><strong>Posted on 1 September 2015</strong></p>
          </div>
          <hr>
        </div>

        <div>
          <div class="news-item">
            <a href="./article_item.html"><h5>Richard Orzecki - Hei maumaharatanga</h5></a>
            <p class="post-date"><strong>Posted on 23 June 2015</strong></p>
          </div>
          <hr>
        </div>

        <div>
          <div class="news-item">
            <a href="./article_item.html"><h5>Post - Post Budget Breakfast 2016</h5></a>
            <p class="post-date"><strong>Posted on 5 June 2015</strong></p>
          </div>
          <hr>
        </div>

        <div>
          <div class="news-item">
            <a href="./article_item.html"><h5>Kaiwhakawhiti Reo Māori i Te Pāremata</h5></a>
            <p class="post-date"><strong>Posted on 1 June 2015</strong></p>
          </div>
          <hr>
        </div>
        <div>
          <p><a href="te_awe_news.html"><strong>View All  </strong></a><i class="fa fa-angle-right" aria-hidden="true"></i></p>
        </div>
      </aside>
    </div>


  </div>
</div> <!-- end of main grid containter -->
