<div class="grid-container news-section">
  <div class="horizontal-ruler" style="height: 3px"></div>
  <div class="grid-x grid-margin-x">
    <div class="cell larger-12 news-section-heading">
      <h3>RIAHC's latest news and Events.</h3>
    </div>

    <div class="large-8 cell feature-light-article">
      <div class="grid-x grid-margin-x">
          <div class="large-6 medium-6 cell">
            <div class="news-highlight-image">
              <a href="./article_item.html"><img class="image-fade" src="../assets/img/gallery_images/600x400_02.jpg" alt=""></a>
              <div id="image-solid-bar"></div>
            </div>
          </div>
          <div class="large-6 medium-6 cell">
            <div>
              <a href="./article_item.html"><h3>RIAHC Annual Regional conference 2017</h3></a>
              <p class="post-date"><strong>Posted on 20 Jan 2018</strong></p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet est voluptate nemo consectetur tenetur tempora iure ratione.</p>
              <button class="primary-btn">Read more</button>
            </div>
          </div>
      </div>
    </div>

    <!-- rest of news / side section-->

    <div class="large-4 cell news-section-side">
      <aside>
        <div>
          <div class="news-item">
            <a href="./article_item.html"><h5>RIAHC and Pasifika Business Network Showcase</h5></a>
            <p class="post-date"><strong>Posted on 1 September 2015</strong></p>
          </div>
        </div>

        <hr>

        <div>
          <div class="news-item">
            <a href="./article_item.html"><h5>Richard Orzecki - Hei maumaharatanga</h5></a>
            <p class="post-date"><strong>Posted on 23 June 2015</strong></p>
          </div>
        </div>

        <div class="view-all">
          <a href="#"><strong>View All</strong></a>
      </aside>
    </div>


  </div>
</div> <!-- end of main grid containter -->
